@use '../abstracts' as *;

%btn {
  display: inline-block;
  padding: 0.95em 1.75em 0.85em;
  background-color: var(--button-primary-background);
  border: 2px solid var(--button-primary-background);
  box-shadow: 0 0.125em 0.5em rgb(0 0 0 / 0.15);
  font-family: var(--ff-sans);
  font-size: var(--fs-300);
  font-weight: 700;
  color: var(--button-primary-color);
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  // prettier-ignore
  transition: border 0.25s ease,
              color 0.25s ease,
              background-color 0.25s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--button-primary-background-hover);
    border: 2px solid var(--button-primary-background-hover);
    color: var(--button-primary-color-hover);
  }
}

.btn {
  @extend %btn;
}
