@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  --background: #fafafa;
  --foreground: #404040;
  --input: #d4d4d4;
  --list: #a3a3a3;
}
:root.dark {
  --background: #404040;
  --foreground: #fafafa;
  --input: #262626;
  --list: #525252;
}

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-blue-800 to-indigo-900;
  }

  .form {
    @apply flex w-[min(100%,30rem)] flex-col gap-2 rounded-xl bg-background px-2 py-4 shadow-xl sm:p-10 md:gap-4;
  }

  .form-input {
    @apply w-full rounded border-0 bg-input p-2 text-base;
  }

  .button {
    @apply inline-block rounded bg-blue-500 p-3 text-sm font-medium uppercase text-white focus:outline-none focus:ring;
  }

  .label {
    @apply mb-2 block cursor-pointer text-xs font-bold uppercase;
  }

  .label-star {
    @apply after:ml-1 after:text-red-600 after:content-["*"];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .error {
    @apply bg-red-500 text-red-900;
  }
  .focus-blue {
    @apply hover:bg-blue-600 focus:ring-blue-400 active:bg-blue-700;
  }
  .focus-red {
    @apply hover:bg-red-600 focus:ring-red-400 active:bg-red-700;
  }
}
