// Theme Variables
// ==========

html {
  --base-background: var(--clr-common-white);
  --button-primary-background-hover: var(--clr-primary-900);
  --button-primary-background: var(--clr-primary-800);
  --button-primary-color-hover: var(--clr-common-white);
  --button-primary-color: var(--clr-common-white);
  --form-background: var(---clr-common-white);
  --icon-mode-toggle: var(--clr-grey-800);
  --input-border-color: var(--clr-grey-300);
  --input-color: var(--clr-grey-800);
  --link-color-hover: var(--clr-primary-700);
  --link-color: var(--clr-primary-500);
  --text-headings: var(--clr-grey-800);
  --text-primary: var(--clr-grey-800);
  --todo-item-background: var(--clr-grey-50);
}

html[dark] {
  --base-background: var(--clr-grey-900);
  --button-primary-background-hover: var(--clr-grey-800);
  --button-primary-background: var(--clr-primary-900);
  --button-primary-color-hover: var(--clr-grey-300);
  --button-primary-color: var(--clr-grey-300);
  --form-background: var(--clr-grey-900);
  --icon-mode-toggle: var(--clr-grey-300);
  --input-border-color: var(--clr-grey-800);
  --input-color: var(--clr-grey-300);
  --link-color-hover: var(--clr-primary-500);
  --link-color: var(--clr-primary-700);
  --text-headings: var(--clr-grey-200);
  --text-primary: var(--clr-grey-300);
  --todo-item-background: var(--clr-grey-800);
}
